# Mac OS X cruft
*.pbxuser
*.mode1v3
*.mode2v3
*.user
*.xcworkspace/
xcuserdata/
.DS_Store

boost/
build/
lib/libcinder*.a
lib/cinder*.lib

android/jni/cinder/Configure.mk
android/Configure.mk
lib/android
android/jni/FreeImage/
android/jni/freetype-2.4.5/
android/jni/boost
android/jni/include
android/jni/src
android/obj/
android/setup/FreeImage/FreeImage3150.zip
android/setup/freetype/freetype-2.4.5.tar.bz2
samples/*/android/assets
samples/*/android/bin
samples/*/android/libs
samples/*/android/obj

build.xml
local.properties
project.properties
proguard.cfg
proguard-project.txt

# Windows cruft
*.suo
*.ncb
*.sdf
Debug/
Release/
ipch/
