# Mac OS X cruft
*.pbxuser
*.mode1v3
*.mode2v3
*.user
*.xcworkspace/
xcuserdata/
.DS_Store

boost/
build/
lib/libcinder*.a
lib/cinder*.lib

android/jni/FreeImage/
android/jni/boost
android/jni/include
android/jni/src
android/obj/
android/setup/FreeImage/FreeImage3150.zip
boost

# Windows cruft
*.suo
*.ncb
*.sdf
Debug/
Release/
